.Contect-Us {
    background-image: url('../../../Assets/Home-Page/Contact-Background.jpg');
    background-size: cover;
}

.Align-Contact-Box {
    background-color: rgba(0, 0, 0, 0.459);
}

.Contact-Box {
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.925);
}

form {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.801);
    box-shadow: 0px 0px 15px 1px #00000021;
}

.Single-Input {
    display: flex;
    flex-direction: column;
}

.Contact-Title {
    width: 100%;
    text-align: center;
}

.Contact-Title h4 {
    font-size: 22px;
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}

.Contact-Title span {
    color: rgb(0, 58, 219);
}

.Contact-Title p {
    margin-top: -5px;
    font-size: 15px;
    color: rgb(56, 56, 56);
}

.Talk-With-Us p {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    color: rgb(100, 100, 100);
}

.Talk-With-Us span {
    color: rgb(0, 0, 192);
}

form input, form textarea {
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 7px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: rgba(192, 192, 192, 0.637);
    background-color: rgb(255, 255, 255);
}

form input::placeholder, form textarea::placeholder {
    font-size: 13px;
    font-style: italic;
    color: rgb(185, 185, 185);
}

form label {
    margin-top: 7px;
    margin-left: 1px;
    font-size: 13px;
    color: rgb(70, 70, 70);
}

.Text-Message {
    width: 100%;
}

.Contact-Image {
    display: flex;
    justify-content: center;
}

.Contact-Image img {
    width:40%;
}

.Contact-Call {
    display: flex;
    justify-content: center;
}

.Call  {
    display: flex;
}

.Call img {
    margin-right: 5px;
    width:22px;
    height:22px
}

.Call p {
    font-size: 14px;
}

form button {
    border-style: none;
    background: linear-gradient(to right,  rgb(60, 151, 255), rgba(0, 102, 226, 0.932),   rgb(60, 151, 255));
    height: 34px;
    border-radius: 5px;
    font-size: 14px;
    color: rgb(255, 255, 255);
}